<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>

<mat-card class="filtro-listagem">
  <form autocomplete="off" novalidate [formGroup]="filtrosListagem">
    <div>
      <dio-input-text titulo="Digite aqui " controlName="texto" [formGroup]="filtrosListagem"></dio-input-text>
    </div>


    <div>
      <dio-input-select titulo="Categorias" controlName="genero" [opcoes]="generos" [formGroup]="filtrosListagem">
      </dio-input-select>
    </div>

  </form>
</mat-card>

<div class="home-content" infiniteScroll (scrolled)="onScroll()" *ngIf="filmes.length else semRegistro">
  <mat-card class="home-card" *ngFor="let filme of filmes">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ filme.titulo }}</mat-card-title>
      <mat-card-subtitle>{{ filme.genero }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ filme.urlFoto || semFoto }}" alt="Angular Material 7" />
    <mat-card-content>
      <p class="quebrar-linha">
        {{ filme.descricao || 'Nenhuma descrição informada' }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #semRegistro>
  <br />
  <h1 class="full-width main-div">Nenhum registro encontrado</h1>
</ng-template>